docker {
  enabled = true
  runOptions = '-u $(id -u):$(id -g)'
}

process {
  executor = 'local'
  container = 'ensemblorg/ensembl-vep:latest'
  cpus = 2
  memory = '4 GB'
  errorStrategy = 'retry'
  maxRetries = 2
}

timeline {
  enabled = true
  file = "${params.outdir}/timeline.html"
}

report {
  enabled = true
  file = "${params.outdir}/report.html"
}

params.outdir = "results"

